body {
    background-color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background-color: #333;
    border: 2px solid black;
    width: 20rem;
    height: 80vh;
    margin: 0;
    border-radius: 3rem;
}

.display {
    background-color: #999;
    overflow: none;
}